$roboto-font-path: "../node_modules/materialize-sass/font/roboto/";
$icons-font-path: "../node_modules/materialize-sass/font/material-design-icons/";

$primary-color: color("blue-grey", "darken-2");
$button-color: color("cyan", "darken-3");

$body-bg-color: color("blue-grey", "darken-3");
